<table class="table table-bordered table-condensed">
    <tr>
        <th>&nbsp;</th>
        {% for room in timetable.rooms %}
            <th>{{ room.name }}</th>
        {% endfor %}
    </tr>
    {% for row in timetable %}
        <tr>
            <td class="time">{{ row.time|date:"h:iA" }}</td>
            {% for slot in row.slots %}
                <td class="slot slot-{{ slot.kind.label }}" colspan="{{ slot.colspan }}" rowspan="{{ slow.rowspan }}">
                    {% if slot.kind.label == "talk" %}
                        {% if not slot.content %}
                        {% else %}
                            <div class="title"><a href="{% url schedule_presentation_detail slot.content.pk %}">{{ slot.content.title }}</a></div>
                            <div class="speaker">{{ slot.content.speaker }}</div>
                        {% endif %}
                    {% else %}
                        {{ slot.kind.label }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>