<table class="table">
    <tr>
        <th>&nbsp;</th>
        {% for room in timetable.rooms %}
            <th>{{ room.name }}</th>
        {% endfor %}
    </tr>
    {% for row in timetable %}
        <tr>
            <td class="time">{{ row.time|date:"h:iA" }}</td>
            {% for slot in row.slots %}
                <td colspan="{{ slot.colspan }}" rowspan="{{ slow.rowspan }}">
                        <span class="controls"><b>add</b>: <a href="{# url schedule_slot_add slot.pk "plenary" #}" rel="facebox">plenary</a> | <a href="{# url schedule_slot_add slot.pk "break" #}" rel="facebox">break</a> | <a href="{# url schedule_slot_add slot.pk "presentation" #}" rel="facebox">presentation</a></span>
                </td>
                {% comment %}
                <td colspan="{{ slot.colspan }}" rowspan="{{ slot.rowspan }}" class="slot {{ slot.kind.name }} rowspan-{{ slot.rowspan }} colspan-{{ slot.colspan }}">
                    {% if not slot.content %}
                        <span class="controls"><b>add</b>: <a href="{# url schedule_slot_add slot.pk "plenary" #}" rel="facebox">plenary</a> | <a href="{# url schedule_slot_add slot.pk "break" #}" rel="facebox">break</a> | <a href="{# url schedule_slot_add slot.pk "presentation" #}" rel="facebox">presentation</a>/span>
                    {% else %}
                        {% if slot.kind.name == "recess" %}
                            <div class="title">{{ slot.content.title }}</div>
                        {% else %}
                            {% if slot.kind.name == "plenary" %}
                                <div class="title">{{ slot.content.title }}</div>
                                <div class="speaker">{{ slot.content.speaker }}</div>
                            {% else %}
                                <div class="title">{{ slot.content.title }}</div>
                                <div class="speaker">{{ slot.content.speaker }}</div>
                            {% endif %}
                        {% endif %}
                        <span class="controls"><b>actions</b>: <a href="{# url schedule_slot_edit slot.pk #}" rel="facebox">edit</a><a href="{#url schedule_slot_remove slot.pk #}" rel="facebox">remove</a></span>
                    {% endif %}
                </td>
                {% endcomment %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>