# base.txt is a pip requirements file which describes the necessary
# distributions required to run this project. If you need something that is
# project specific not listed here use project.txt. You can, of course, update
# versions of distributions here if needed.

--extra-index-url=http://dist.pinaxproject.com/dev/
--extra-index-url=http://dist.pinaxproject.com/alpha/
--extra-index-url=http://dist.pinaxproject.com/fresh-start/

Django==1.4
pinax-theme-bootstrap==2.0.4
django-forms-bootstrap==2.0.3.post1
metron==0.1 # 0.2.dev3
pinax-utils==1.0b1.dev3
django-debug-toolbar==0.9.4
django-mailer==0.2a1
django-timezones==0.2
pytz==2011n
django-openid==0.3a1
python-openid==2.2.5
django_compressor==1.2a1
django-model-utils==1.1.0

-e git+git://github.com/pinax/pinax-theme-bootstrap-account.git@8fc34ba4309fc1edd12e5836cc1398c3f9597e6d#egg=pinax-theme-bootstrap-account
-e git+git://github.com/pinax/django-user-accounts.git@ee694e74d3341893655fc8903962b5c5b43da9b8#egg=django-user-accounts

django-mptt==0.5.2
django-taggit==0.9.3
django-reversion==1.6.1
django-markitup==1.0.0
markdown==2.1.1
django-sitetree==0.8
PIL==1.1.7
easy-thumbnails==1.0.3
