{% extends "proposals/base.html" %}

{% load i18n %}

{% block page_title %}{% trans "Submit A Proposal" %}{% endblock %}

{% block body %}
    
<h3> {% trans "Submit a talk" %} </h3>
    {% if kinds %}
        <p>Select what kind of proposal you'd like to submit:</p>
    
        <ul>
            {% for kind in kinds %}
              <li><p><a href="{% url proposal_submit_kind kind.slug %}">{{ kind }}</a></p></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Proposals are not currently open for submission.</p>
    {% endif %}
{% endblock %}
