body {
    padding-top: 24px;
}

label:not(.checkbox):not(.radio) {
    font-weight: bold;
}

.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  border-top-color: @grayDarker;
  border-bottom-color: @grayDarker;
}


header {
    position: relative;
    margin-bottom: 24px;
    
    
    h1 {
        margin-bottom: 9px;
        font-size: 48px;
        letter-spacing: -1px;
        line-height: 1;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    
    p {
        font-size: 30px;
        line-height: 36px;
    }
    
    a, a:hover, a:visited {
        color: @grayDark;
        text-decoration: none;
    }
}

// Markitup
div.box-content .markItUpEditor {
  font-family: @monoFontFamily;
  padding:5px;
  width:600px;
  height:320px;
  clear:both; display:block;
  overflow:auto;
}


// Markitup Modal
.modal div.markItUp {
    width: 500px;
}
.modal textarea.markItUpEditor {
    width: 500px;
    height: 250px;
}

// Boxes
.content-box.editable {
    border: 1px dashed #bbb;
    padding: 5px;
    min-height: 30px;
}
.edit-toggle {
    position: relative;
    float: left;
    left: -20px;
}

.widget {
    position: relative;
    clear: both;
    width: auto;
    margin-bottom: 2em;
    overflow: hidden;
}

