{% extends "review/base.html" %}

{% load markitup_tags %}
{% load uni_form_tags %}

{% block primary %}

    <h1>Proposal Review</h1>

    <div class="proposal">

        <div class="result-box {{ proposal.result.get_accepted_display }} mod">
            <h2 class="proposal-title">#{{ proposal.number }}: {{ proposal.title }}</h2>
            <div class="result-content">
                <h6>Current status: <span>{{ proposal.result.get_accepted_display }}</span></h6>
            {% if is_reviewer_admin %}
                <form class="result-form" method="POST" action="">
                    {% csrf_token %}
                    {% if proposal.result.get_accepted_display == "accepted" %}
                        <input type="submit" name="result_submit" value="reject" class="reject" />
                        <input type="submit" name="result_submit" value="undecide" class="undecide" />
                    {% else %}
                        {% if proposal.result.get_accepted_display == "rejected" %}
                            <input type="submit" name="result_submit" value="accept" class="accept" />
                            <input type="submit" name="result_submit" value="undecide" class="undecide" />
                        {% else %}
                            <input type="submit" name="result_submit" value="accept" class="accept" />
                            <input type="submit" name="result_submit" value="reject" class="reject" />
                        {% endif %}
                    {% endif %}
                </form>
            {% endif %}

            </div>
        </div>

        <div class="badges">
            {% if proposal.extreme %}
                <div class="badge extreme">E</div>
            {% endif %}
            {% if proposal.invited %}
                <div class="badge invited">I</div>
            {% endif %}
        </div>

        {% if proposal.cancelled %}
            <p class="cancelled">Cancelled</p>
        {% endif %}

        <div>
            {{ proposal.description }}
        </div>

        <dl class="inline mod">
            <dt>Type:</dt>
            <dd>{{ proposal.kind.name }}</dd>

            <dt>Abstract:</dt>
            <dd>{{ proposal.abstract|safe }}</dd>

            <dt>Audience level:</dt>
            <dd>{{ proposal.get_audience_level_display }}</dd>

            <dt>Category:</dt>
            <dd>{{ proposal.category.name }}</dd>

            <dt>Duration:</dt>
            <dd>{{ proposal.get_duration_display }}</dd>

            <dt>Submitting speaker:</dt>
            <dd>{{ proposal.speaker }}</dd>

            <dt>About speaker:</dt>
            <dd>{{ proposal.speaker.biography|safe }}</dd>

            {% if proposal.additional_speakers.all %}
                <dt>Additional speakers:</dt>
                <dd>
                    <ul>
                    {% for speaker in proposal.additional_speakers.all %}
                        {% if speaker.user %}
                            <li><b>{{ speaker.name }}</b> &mdash; {{ speaker.email }}</li>
                        {% else %}
                            <li>{{ speaker.email }} &mdash; pending invitation</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </dd>
            {% endif %}

            {% if proposal.additional_notes %}
                <dt>Additional Notes:
                    <span>(private from submitter)</span>
                </dt>
                <dd class="additional_notes">
                    {{ proposal.additional_notes|safe }}
                </dd>
            {% endif %}

        </dl>

    </div>

    {% if is_reviewer_admin or not proposal.invited %}

        <h3>Votes</h3>

        <div class="votes-box {{ latest_vote.css_class }} mod">
            <div class="vote-count-box plus-one-box">
                <div class="label">+1 vote{{ proposal.plus_one|pluralize }}</div>
                <div class="number">{{ proposal.plus_one }}</div>
            </div>
            <div class="vote-count-box plus-zero-box">
                <div class="label">+0 vote{{ proposal.plus_zero|pluralize }}</div>
                <div class="number">{{ proposal.plus_zero }}</div>
            </div>
            <div class="vote-count-box minus-zero-box">
                <div class="label">&minus;0 vote{{ proposal.minus_zero|pluralize }}</div>
                <div class="number">{{ proposal.minus_zero }}</div>
            </div>
            <div class="vote-count-box minus-one-box">
                <div class="label">&minus;1 vote{{ proposal.minus_one|pluralize }}</div>
                <div class="number">{{ proposal.minus_one }}</div>
            </div>
            <div class="vote-count-box total">
                <div class="label"><b>responses</b></div>
                <div class="number"><b>{{ proposal.total_votes }}</b></div>
            </div>
        </div>

        {% if reviews %}
            <h3>Review Comments</h3>
            {% for review in reviews %}
                <div class="review-box">
                    <div class="vote">Vote: <b>{{ review.vote }}</b></div>
                    <div class="comment">{{ review.comment|safe }}</div>
                    <div class="dateline">
                        <b>{{ review.user }}</b> {{ review.submitted_at|timesince }} ago
                        {% if is_reviewer_admin %}<form method="POST" action="{% url review_delete review.pk %}" class="delete-comment">{% csrf_token %}<input type="submit" value="delete" /></form>{% endif %}
                    </div>
                </div>
                <div class="clear"></div>
            {% endfor %}
        {% endif %}

        <h3>Vote and Comment</h3>

        <p>Enter your vote and any comment to go along with it. You can revise your vote or comment multiple times with an existing vote (your previously recorded score will be replaced during calculations). <b>Your vote and comments are not public and will only be viewable by other reviewers.</b></p>

        {% markitup_media %}

        {% if review_form %}
            <form method="POST" action="" class="uniForm">
                {% csrf_token %}
                <fieldset>
                    {{ review_form|as_uni_form }}
                    <div class="form_block">
                        <input type="submit" name="vote_submit" value="submit" />
                    </div>
                </fieldset>
            </form>
        {% else %}
            <p>You do not have permission to vote on this proposal.</p>
        {% endif %}

        {% if proposal.messages.all %}
            <div class="spacer"></div>
            <h3>Conversation with Proposer</h3>
            {% for message in proposal.messages.all %}
                <div class="review-box">
                    <div class="comment">{{ message.message|safe }}</div>
                    <div class="dateline"><b>{{ message.user }}</b> {{ message.submitted_at|timesince }} ago</div>
                </div>
                <div class="clear"></div>
            {% endfor %}
        {% endif %}

        <div class="spacer"></div>
        <h3>Leave a Message</h3>

        <p>You can leave a message for the proposer, <b>who will be notified through email and given the chance to respond to your comments</b>.</p>

        <form action="" method="POST" class="uniForm" accept-charset="utf-8">
            {% csrf_token %}
            <fieldset>
                {{ message_form|as_uni_form }}
                <div class="form_block">
                    <input type="submit" name="message_submit" value="submit" />
                </div>
            </fieldset>
        </form>
        <div class="spacer"></div>
    {% endif %}
{% endblock %}
