{% extends "content_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block one_column %}
<form method="POST" action="/en/account/logout/" class="form-horizontal">
  <legend>Log out</legend>
  <fieldset>
    <div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="Bu6odZiO34b3kBUDmzNFihyGZOk45gvf"></div>
    <p>{% trans "Are you sure you want to log out?" %}</p>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Log out</button>
    </div>
  </fieldset>
</form>
{% endblock %}
