{% extends "content_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block one_column %}
<div class="row-fluid">
  <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" class="form-horizontal"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    <legend>{% trans "Sign up" %}</legend>
    <fieldset>
      {% csrf_token %}
      {{ form|as_bootstrap }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}

