{% extends "content_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load cache %}

{% block head_title %}{% trans "Conference Schedule" %}{% endblock %}

{% block body_class %}full{% endblock %}

{% block right %}
{% endblock %}

{% block one_column %}

  <h3>{% trans "Conference Schedule" %}</h3>
  <p>Details TBA.</p>
  <h2>Friday August 9</h2>
  <p>Evening social event.</p>
  <h2>Saturday August 10</h2>
  <p>Keynote, talks, tutorials, and lunch.</p>
  <h2>Sunday August 11</h2>
  <p>Keynotes, talks, tutorials, and lunch.</p>
  <h2>Monday August 12</h2>
  <p>Development Sprints</p>
  <p>{% trans "SPRINT_WHAT" %}</p>
  <h2>Tuesday August 13</h2>
  <p>Development Sprints</p>

{% endblock %}
