{% extends "content_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load cache %}

{% block head_title %}{% trans "Conference Schedule" %}{% endblock %}

{% block body_class %}full{% endblock %}

{% block right %}
{% endblock %}

{% block one_column %}

  <h3>{% trans "Conference Schedule" %}</h3>
  <p>Details TBA.</p>
  <h2>Friday August 9</h2>
  <p>Evening social event.</p>
  <h2>Saturday August 10</h2>
  <p>Keynote, talks, tutorials, and lunch.</p>
  <h2>Sunday August 11</h2>
  <p>Keynotes, talks, tutorials, and lunch.</p>
  <h2>Monday August 12</h2>
  <p>Development Sprints</p>
  <p>PyCon Development Sprints are two days of intensive learning and
    development on an open source project of your choice, in a team
    environment. It's a time to come together with colleagues, old and new,
    to share what you've learned and apply it to an open source project.
  </p>
  <p>In the crucible of a sprint room, teeming with both focus and humour, it's
    a time to test, fix bugs, add new features, and improve documentation. And
    it's a time to network, make friends, and build relationships that go beyond
    the conference.
  </p>
  <p>PyCon provides the space and infrastructure (network, power, tables &amp;
    chairs); you bring your skills, humanity, and brainpower (Oh! And don't
    forget your computer).
  </p>
  <h2>Tuesday August 13</h2>
  <p>Development Sprints</p>

{% endblock %}
