{% load sponsorship_tags %}
{% load thumbnail %}

{% sponsor_levels as levels %}

<h2>Sponsors</h2>

<div class="sponsor-list">
    {% for level in levels %}
        {% if level.sponsors %}
            <h3 style="margin-top: 3em;">{{ level.name }}</h3>
            
            {% for sponsor in level.sponsors %}
                <div style="margin: 10px 0;">
                    <a href="{{ sponsor.external_url }}">
                        <img src="{% thumbnail sponsor.website_logo '100x60' %}" alt="{{ sponsor.name }}" />
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
