{% load i18n %}

<div class="container-fluid" id="get-in-touch">
  <div class="row-fluid">
    <div class="span12">
      <div class="content">
        <h3>{% trans "Get in touch" %}</h3>
        <ul>
          <li>
            <span>Twitter</span>
            <a href="https://twitter.com/pyconca">@pyconca</a>
          </li>
          <li>
            <span>IRC</span>
            <a href="irc://irc.freenode.net/#pyconca">#pyconca</a>
          </li>
          <li>
            <span>{% trans "Board" %}</span>
            <a href="mailto:organizers@pycon.ca">organizers@pycon.ca</a>
          </li>
          <li>
            <span>{% trans "List" %}</span>
            <a href="mailto:pyconca@googlegroups.com">pyconca@googlegroups.com</a>
          </li>
          <li>
            <span>GitHub</span>
            <a href="http://github.com/pyconca">github.com/pyconca</a>
          </li>
          <li>
            <span>{% trans "Volunteer" %}</span>
            <a href="http://pycon.ca/volunteer">@pycon.ca/volunteer</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="content">
        <p>&copy; PyCon Canada 2013</p>
      </div>
    </div>
  </div>
</footer>
