{% load i18n %}

<footer class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <nav>
          <ul class="unstyled">
            <li><a href="{% url home %}"><i class="icon-home icon-white nav-icon"></i></a></li>
            <li><a href="{% url about %}">About</a></li>
            <li><a href="{% url venue %}">Venue</a></li>
            <li><a href="{% url schedule_conference %}">Schedule</a></li>
            <li><a href="{% url dashboard %}">Speakers</a></li>
            <li><a href="{% url sponsor_list %}">Sponsors</a></li>
            <li><a href="{% url contact %}">Contact</a></li>
          </ul>
        </nav>
        <p> {% trans "© PyCon Canada 2012" %} </p>
      </div>

      <div class="span6">
        <div class="fake-head">{% trans "Get in touch" %}</div>
        <ul class="unstyled contact-list">
          <li><span>Twitter</span> <a href="http://twitter.com/pyconca">@pyconca</a></li>
          <li><span>IRC</span> <a href="irc://irc.freenode.net/#pyconca">#pyconca</a></li>
          <li><span>{% trans "Board" %}</span> <a href="mailto:organizers@pycon.ca">organizers@pycon.ca</a></li>
          <li><span>{% trans "List" %}</span> <a href="mailto:pyconca@googlegroups.com">pyconca@googlegroups.com</a></li>
          <li><span>GitHub</span> <a href="http://github.com/pyconca">github.com/pyconca</a></li>
          <li><span>{% trans "Volunteer" %}</span> <a href="${request.application_url}/volunteer">pycon.ca/volunteer</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
