{% load i18n %}
{% load url from future %}

<div class="container-fluid" id="get-in-touch">
  <div class="row-fluid">
    <div class="span12">
      <div class="content">
          <h3>{% trans "Get in touch" %}</h3>
        <ul>
          <li>
            <span>Twitter</span>
            <a href="https://twitter.com/pyconca">@pyconca</a>
          </li>
          <li>
            <span>IRC</span>
            <a href="irc://irc.freenode.net/#pyconca">#pyconca</a>
          </li>
          <li>
            <span>Github</span>
            <a href="https://github.com/pyconca">github.com/pyconca</a>
          </li>
        </ul>
        </br>
        <ul>
          <li>
            <span>{% trans "List" %}</span>
            <a href="mailto:pyconca@googlegroups.com">pyconca@googlegroups.com</a>
          </li>
          <li>
            <span>{% trans "Board" %}</span>
            <a href="mailto:board@pycon.ca">board@pycon.ca</a>
          </li>
          <li>
            <span>{% trans "Organizers" %}</span>
            <a href="mailto:organizers@pycon.ca">organizers@pycon.ca</a>
          </li>
          <li>
            <span>{% trans "Volunteer" %}</span>
            <a href="mailto:volunteer@pycon.ca?subject=I%20want%20to%20volunteer%20for%20PyCon%20Canada%202013!">board@pycon.ca</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="content">
        <p class="copyright-notice">
          &copy; PyCon Canada 2013<br />
          {% trans "Logo by" %} <a href="https://twitter.com/jess_sanson">Jess Sanson</a><br />
          {% trans "Background by" %} <a href="https://twitter.com/KMarincic">Kirsten Marincic</a><br />
          {% trans "Design by" %} <a href="https://twitter.com/ritchiecheung">Ritchie Cheung</a>
        </p>
        <a class="brand">Pycon 2013</a>
        <ul class="footer-nav">
          <li><a href="{% url "home" %}"><i class="icon-home icon-white nav-icon"></i></a></li>
          <li><a href="{% url "about" %}">{% trans "About" %}</a></li>
          <li><a href="{% url "venue" %}">{% trans "Venue" %}</a></li>
          <li><a href="{% url "schedule_conference" %}">{% trans "Schedule" %}</a></li>
          <li><a href="{% url "speak" %}">{% trans "Speak" %}</a></li>
          <li><a href="{% url "learn" %}">{% trans "Learn" %}</a></li>
          <li><a href="{% url "sponsor_list" %}">{% trans "Sponsors" %}</a></li>
          <li><a href="{% url "contact" %}">{% trans "Contact" %}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
