{% load url from future %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load i18n %}

<div class="sponsor-bar">
  <h2>Our Sponsors</h2>
  <ul>
    {% sponsor_levels as levels %}
    {% for level in levels %}
    <li>
      <h3><span>{{ level.name }}</span></h3>
      <div class="sponsor-group">
      {% for sponsor in level.sponsors %}
      <a href="{{ sponsor.external_url }}"
          {% if sponsor.listing_text %}
            data-title="{{ sponsor.name }}"
            data-content="{{ sponsor.listing_text|linebreaks }}"
          {% endif %}
          class="sponsor-tooltip"
          >
        <img src="{% thumbnail sponsor.website_logo '150x80' %}" alt="{{ sponsor.name }}" />
      </a>
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
  <a href="{% url "sponsor_list" %}">{% trans "View full list of sponsors" %} »</a>
  <a href="{% url "sponsor_prospectus" %}">{% trans "Sponsorship details" %} »</a>
</div>
