{% extends "site_base.html" %}

{% load url from future %}
{% load thumbnail %}
{% load sponsorship_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}

{% block body_outer %}
<div class="container-fluid" id="body-content">
  <div class="row-fluid">
    <div class="span12">
      <div class="content">
        <div class="row-fluid">
          <div class="span12">
            <h3> {% block page_name %}{% endblock %}</h3>
            {% block one_column %}
            <div class="row-fluid">
              <div class="span8">
                {% block body %}{% endblock %}
              </div>
              <div class="span4">
                {% include "_sponsor_bar.html" %}
              </div>
            </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
