{% extends "site_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{% trans "Contact" %}{% endblock %}
{% block page_title %}
  <hgroup class="clearfix">
    <h1>{% trans "Contact" %}</h1>
  </hgroup>
{% endblock %}


{% block body %}

<article>
<div class="row-fluid">
  <div class="span12"><div class="content">
    <div class="span6"><div class="content">
      <h3>{% trans "Contact" %}</h3>
      <p>{% trans "CONTACT_US_MAILING_LISTS" %}</p>

      <p>{% trans "We are also online at:" %}</p>
      <ul>
        <li><p>#<a href="irc://irc.freenode.net/#pyconca">pyconca</a></p></li>
        <li><p>@<a href="https://twitter.com/pyconca">pyconca</a></p></li>
        <li><p><a href="https://github.com/pyconca">github.com/pyconca</a></p></li>
      </ul>
    </div></div>
    <div class="span6"><div class="content">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23pyconca+OR+pycon.ca+OR+%22PyCon+Canada%22" data-widget-id="330781231698550784">Tweets about "#pyconca OR pycon.ca OR "PyCon Canada""</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div></div>
  </div></div>
</div>

{% endblock %}


