{% extends "site_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block body %}

<article>
  <h2>{% trans "Contact" %}</h2>
  <p>{% trans "CONTACT_US_MAILING_LISTS" %}</p>

  <p>{% trans "We are also online at:" %}</p>
  <ul>
    <li>#<a href="irc://irc.freenode.net/#pyconca">pyconca</a></li>
    <li>@<a href="http://twitter.com/pyconca">pyconca</a></li>
    <li><a href="https://github.com/pyconca">github.com/pyconca</a></li>
  </ul>

  <script charset="utf-8" src="//widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'search',
    search: 'pycon.ca OR \"PyCon Canada\" OR pyconca',
    interval: 30000,
    title: 'Aug 9th-13th 2013, Toronto',
    subject: 'PyCon Canada',
    width: 'auto',
    height: 400,
    theme: {
      shell: {
        background: '#210D05',
        color: '#ffffff'
      },
      tweets: {
        background: '#ffffff',
        color: '#444444',
        links: '#0f7774'
      }
    },
    features: {
      scrollbar: true,
      loop: false,
      live: true,
      behavior: 'all'
    }
  }).render().start();
  </script>

{% endblock %}


