{% extends "site_base.html" %}

{% load i18n %}
{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="https://guestlistapp.com/javascripts/guestlist-embed.js"></script>
{% endblock %}

{% block excerpt %}
You're invited to a kickoff conference, <span>August 9th - 11th</span>, in Toronto, getting us warmed up for the first PyCon North America conference outside the US &mdash; Montr&eacute;al in 2014 and 2015! And when that's done, let's keep the momentum going with an annual PyCon in Canada.
{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <div class="content">
                <div class="row-fluid">
                    <div class="span6" id="speak">
                        <h3>Speak</h3>
                        <p>Share your knowledge and cool ideas. Submit your proposal for a talk or tutorial by July 1st to proposals@pycon.ca. We'll be sprinting at the conference too, so you can also send us sprint ideas.</p>
                        <a href="{% url dashboard %}">More Info »</a>
                    </div>
                    <div class="span6" id="learn">
                        <h3>Learn</h3>
                        <p>One of PyCon Canada's goals is to bring experts from the greater Python community to Canada; giving you the opportunity to be inspired and learn from the best! To get you excited, we'll be announcing our featured speakers, one by one, over the coming weeks.</p>
                        <a href="">More Info »</a>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6" id="venue">
                        <h3>Venue</h3>
                        <p>Be there August 9-11, 2013 at Chestnut Conference Centre in Toronto. A short walk from the subway, so when you aren't busy coding or chatting with your colleagues you've got lots of stuff to explore nearby.</p>
                        <a href="{% url venue %}">More Info »</a>
                    </div>
                    <div class="span6" id="schedule">
                        <h3>Schedule</h3>
                        <p>Start the fun Friday evening with a mix and mingle. Feed your brain at talks on Saturday, and if your sprint team is eager, you can start that night. Sprint or attend talks and tutorials on Sunday.</p>
                        <a href="{% url schedule_conference %}">More Info »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div id="montreal">
                    <h4>Looking for PyCon Montr&eacute;al 2014?</h4>
                    <p>The "big" PyCon (previously known as "PyCon US") will be held in Montr&eacute;al in 2014! Follow <a href="https://twitter.com/pycon">@pycon</a> for updates related to PyCon Montr&eacute;al.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="sponsors">
        <div class="row-fluid" >
            <div class="span12">
                <div class="content">
                    <h3>
                        Our Sponsors <span>Interested in a sponsorship opportunity? <a href="">Learn More</a></span>
                    </h3>
                    <p>Sponsors go here</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
