{% extends "site_base.html" %}
{% load url from future %}
{% load thumbnail %}
{% load sponsorship_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block excerpt %}
<h2>{% trans "HOMEPAGE_SPLASH" %}</h2>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block logo_header_class %}splash-brand{% endblock %}

{% block shouty_pycon_canada %}
<h1>{% trans "Pycon Canada <span>2013!</span>" %}</h1>
{% endblock %}

{% block body_outer %}
<div class="container-fluid" id="details">
  <div class="row-fluid">
    <div class="span12">
      <div class="content">
        <div class="row-fluid">
          <div class="span6" id="speak">
            <h3>{% trans "Speak" %}</h3>
            <p>{% trans "HOMEPAGE_SPEAK_BLURB" %}</p>
            <a href="{% url "speak" %}">{% trans "Submit a proposal" %} »</a>
          </div>
          <div class="span6" id="learn">
            <h3>{% trans "Learn" %}</h3>
            <p>{% trans "HOMEPAGE_LEARN_BLURB" %}</p>
            <a href="{% url "learn" %}">{% trans "More Info" %} »</a>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6" id="venue">
            <h3>{% trans "Venue" %}</h3>
            <p>{% trans "VENUE_HOMEPAGE_BLURB" %}</p>
            <a href="{% url "venue" %}">{% trans "More Info" %} »</a>
          </div>
          <div class="span6" id="schedule">
            <h3>{% trans "Schedule" %}</h3>
            <p>{% trans "HOMEPAGE_SCHEDULE_BLURB" %}</p>
            <a href="{% url "schedule_conference" %}">{% trans "More Info" %} »</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div id="montreal">
          <h4>{% trans "Looking for PyCon Montréal 2014?" %}</h4>
          <p>{% trans "LOOKING_FOR_BIG_PYCON" %}
          {% trans "FOLLOW_AT_PYCON_FOR_MONTREAL" %}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="sponsors">
  <div class="row-fluid" >
    <div class="span12">
      <div class="content">
        <h3>
          {% trans "Our Sponsors" %}
          <span>{% trans "Interested in a sponsorship opportunity?" %} <a href="{% url "sponsor_prospectus" %}">{% trans "Learn More" %} &raquo;</a></span>
        </h3>
        {% sponsor_levels as levels %}
        {% for level in levels %}
        {% if level.sponsors %}
        <h2>{{ level.name }}</h2>
        <div class="sponsor-group">
          {% for sponsor in level.sponsors %}
          {% spaceless %}
          <a href="{{ sponsor.external_url }}"
              {% if sponsor.listing_text %}
                data-title="{{ sponsor.name }}"
                data-content="{{ sponsor.listing_text|linebreaks }}"
              {% endif %}
              class="sponsor-tooltip"
              >
            {% if level.name == 'Diamond' %}
            <img src="{% thumbnail sponsor.website_logo '400x240' %}" alt="{{ sponsor.name }}" />
            {% elif level.name == 'Gold' %}
            <img src="{% thumbnail sponsor.website_logo '200x120' %}" alt="{{ sponsor.name }}" />
            {% else %}
            <img src="{% thumbnail sponsor.website_logo '100x60' %}" alt="{{ sponsor.name }}" />
            {% endif %}
          </a>
          {% endspaceless %}
          {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
