{% extends "content_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Learn" %}{% endblock %}
{% block excerpt %}
<h2>{% trans "A place to announce our featured speakers, one by one, over the coming weeks." %}</h2>
{% endblock %}

{% block body %}
<h3>Learn</h3>
<div class="container-fluid" id="sponsors">
  <h3>Jacob Kaplan-Moss</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="https://github.com/jacobian">
          <img src="{{STATIC_URL}}/img/speakers/jacob-187x187.jpeg"
               alt="Jacob Kaplan-Moss"/>
        </a>
        <br>
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        keynote</span>
        <a href='http://www.ohloh.net/accounts/4443?ref=Rank' target='_blank'>
          <img alt='Ohloh profile for jacobian'
               border='0' height='24' width='32' style='padding-top: 10px;'
               src='//www.ohloh.net/accounts/4443/widgets/account_rank.gif' />
        </a>
      </h2>
    </div>
    <div class="span8">
      <p>
        <a href="https://github.com/jacobian">
          https://github.com/jacobian
        </a>
      </p>
      <p>
Jacob is the co-BDFL of <b>Django</b> and Director of Platform Security
at Heroku. Jacob helped create Django while working at the Lawrence
Journal-World, a family owned newspaper in Lawrence, KS. He lives on a
hobby farm outside of Lawrence and spends his weekends playing with power
tools and tractors.
      </p>
    </div>
  </div>

  <div class="sponsor-level-vspace"></div>

  <h3>Karen Brennan</h3>
  <div class="row-fluid">
    <div class="span4">
      <h2>
        <a href="http://web.media.mit.edu/~kbrennan/">
          <img src="{{STATIC_URL}}img/speakers/karen_brennan-187x124.jpg"
               alt="Karen Brennan"/>
        </a>
        <br>
        <span class="label label-success"
              style="letter-spacing:2px; padding-top: 8px; font-size: 20px;">
        keynote</span>
        <a href="http://scratch.mit.edu/">
          <img src="{{STATIC_URL}}img/speakers/180px-Scratch_cat_large.png"
               alt="Scratch"/ height="35" style="padding-top: 10px;">
        </a>
      </h2>
    </div>
    <div class="span8">
      <p>
        <a href="http://web.media.mit.edu/~kbrennan/">
          http://web.media.mit.edu/~kbrennan/
        </a>
      </p>
      <p>
Karen Brennan is Assistant Professor of Education at Harvard University in
the Graduate School of Education, having completed her PhD at the MIT Media
Lab. Her research is primarily concerned with the ways in which learning
communities support young people's development as computational creators.
More concretely, her work focuses on the <b>Scratch</b> website and Scratch educator
community, studying how participation in the Scratch online community and how
professional development for educators can support young people as designers
of computational media.
      </p>
    </div>
  </div>
</div>
{% endblock %}

