{% extends "symposion_sidebar_base.html" %}

{% load metron_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load sitetree %}
{% load markitup_tags %}
{% load static %}

{% block viewport %}{% endblock %}

{% block style_base %}
    <link href="{% static "bootstrap/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/bootstrap-responsive.min.css" %}" rel="stylesheet">
    <!--<link href="{% static "symposion/css/symposion.css" %}" rel="stylesheet">-->
    <link href="{% static "css/pycon.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" />
    <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    {% markitup_media "no-jquery" %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block topbar_base %}

<header id="MainHeader">
  <nav class="navbar clearfix">
    {% block topbar %}
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="nav-collapse">
      {% block nav %}
      <ul class="nav">
        <li><a href="{% url home %}"><i class="icon-home icon-white nav-icon"></i></a></li>
        <li><a href="{% url about %}">About</a></li>
        <li><a href="{% url venue %}">Venue</a></li>
        <li><a href="{% url schedule_conference %}">Schedule</a></li>
        <li><a href="{% url dashboard %}">Speakers</a></li>
        <li><a href="{% url sponsor_list %}">Sponsors</a></li>
        <li><a href="{% url contact %}">Contact</a></li>
        {% if not request.user.is_authenticated %}
          <li class="nav-spacer nav-auth"><a href="{% url account_login %}">Log in</a></li>
          <li class="nav-auth"><a href="{% url account_signup %}">Sign up</a></li>
        {% else %}
          <li class="nav-auth"><a href="{% url dashboard %}">Dashboard</a></li>
          <li class="nav-auth"><a href="{% url account_settings %}">Settings</a></li>

          {% if request.user.is_staff %}
            <li class="nav-auth"><a href="{% url admin:index %}">Admin</a></li>
          {% endif %}

          <li class="nav-auth"><a id="logout_link" href="{% url account_logout %}" data-form-submit="#account_logout_form">Log out</a></li>

          <form id="account_logout_form" class="hide" action="{% url account_logout %}" method="post">{% csrf_token %}</form>
        {% endif %}

        <li class="nav-spacer nav-auth">
          <form action="/i18n/setlang/" method="post" style="margin:0;">
            {% csrf_token %}

            {% with request.path|slice:"3:" as redirect_url %}
            <input name="next" type="hidden" value="{{ redirect_url }}" />
            {% endwith %}

            <select class="input-medium" name="language" onchange="this.form.submit();">
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
              {% if LANGUAGE_CODE == language.code %}
              <option value="{{ language.code }}" selected="selected">{{ language.name_local }} ({{ language.code }})</option>

              {% else %}
              <option value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
              {% endif %}
              {% endfor %}
            </select>
          </form>
        </li>
      </ul>
      {% sitetree_menu from "main" include "trunk" template "sitetree/menu_bootstrap.html" %}
      {% endblock %}
    </div>
    {% endblock %}
  </div>
</header>


  <h1><a href="{% url home %}">{{ SITE_NAME }}</a></h1>
  <h2><a href="{% url home %}"><span style="font-weight: 200;">Toronto, Ontario, Canada &rarr; {% trans "conference date range" %}</span></a></h2>
{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}

        {# {% block breadcrumbs %} #}
            {# {% sitetree_breadcrumbs from "main" %} #}
        {# {% endblock %} #}

        {% block body_outer %}
            <div class="row">
                <div class="span9">
                    {% block body %}
                    {% endblock %}
                </div>
                <div class="span3">
                    {% block sidebar %}
                        {% include "_default_sidebar.html" %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block script_base %}
    {% analytics %}
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            $("#logout_link").on("click", function(e) {
                var form = $($(this).data("form-submit"));
                form.submit();
                return false;
            });
            $(".required-field").prepend("<span style='color:red;'>* </div>");
        });
    </script>
    {% block extra_script %}{% endblock %}
{% endblock %}
