{% extends "content_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Venue" %}{% endblock %}
{% block excerpt %}
<h2>{% trans "The conference will be held at the" %}
  Chestnut Residence of University of Toronto, Toronto, M5G 1R1.</h2>
{% endblock %}

{% block body %}
<h3>{% trans "Venue" %}</h3>
<h2>{% trans "Location" %}</h2>
<p>{% trans "VENUE_LOCATION" %}</p>
<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?ie=UTF8&amp;cid=12810529130502309021&amp;q=Chestnut+Residence&amp;gl=CA&amp;hl=en&amp;t=m&amp;ll=43.656478,-79.384804&amp;spn=0.007452,0.013733&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
<p>{% trans "View the complete" %} <a href="https://maps.google.ca/maps?ie=UTF8&amp;cid=12810529130502309021&amp;q=Chestnut+Residence&amp;gl=CA&amp;hl=en&amp;t=m&amp;ll=43.656478,-79.384804&amp;spn=0.007452,0.013733&amp;z=16&amp;iwloc=A&amp;source=embed">{% trans "PyCon Canada 2013 map" %}</a>.</p>

<h2>{% trans "Getting to Toronto" %}</h2>
<p>{% trans "VENUE_AIRPORTS" %}</p>
<p>{% trans "VENUE_PORTER" %}</p>
<p>{% trans "VENUE_VIA" %}</p>
<p>
  {% trans "If you're coming from the US:" %}
  <ul>
    <li><p>{% trans "VENUE_PASSPORT_USA" %}</p></li>
    <li><p>{% trans "VENUE_PORTER_USA" %}</p></li>
  </ul>
</p>

<h2>{% trans "Public Transit and Parking" %}</h2>
<p>{% trans "VENUE_PUBLIC_TRANSIT" %}</p>
<p>{% trans "VENUE_PARKING" %}</p>

<h2>{% trans "Food" %}</h2>
<p>{% trans "VENUE_FOOD" %}</p>

<h2>{% trans "Hotel" %}</h2>
<p>The recommended hotel for PyCon Canada is the conference venue, the Chestnut Residence:</p>

<p><address>
  89 Chestnut St<br />
  Toronto, Ontario<br />
  M5G 1R1, Canada<br />
  416-978-8863
</address></p>

<p>
<strong>Rates and a link to reserve rooms are pending.</strong>
</p>

<p>
If you would like to share a hotel room with someone else attending the
conference, please see the PyCon Canada
<a href="https://github.com/pyconca/2013-wiki/wiki/Room-Sharing">
  room sharing wiki</a> page.

<p>
  Email <a href='mailto:organizers@pycon.ca'>organizers@pycon.ca</a> if you 
  run into any trouble reserving your room, or finding someone to share a 
  room with.
</p>
{% endblock %}
