{% extends "review/base.html" %}

{% block primary %}
    <h1>Proposal Review Stats</h1>

    {% if key %}
        <div class="breadcrumbs"><a href="{% url review_stats %}">See all proposal review stats</a></div>
        <div>
            {% if key == "good" %}
                <h3>Good ({{ good_proposals|length }})</h3>
                <div class="stat-def">proposals with at least one +1 and no &minus;1s</div>
            {% endif %}
            {% if key == "bad" %}
                <h3>Bad ({{ bad_proposals|length }})</h3>
                <div class="stat-def">proposals with at least one &minus;1 and no +1s</div>
            {% endif %}
            {% if key == "indifferent" %}
                <h3>Indifferent ({{ indifferent_proposals|length }})</h3>
                <div class="stat-def">proposals with neither a +1 or a &minus;1</div>
            {% endif %}
            {% if key == "controversial" %}
                <h3>Controversial ({{ controversial_proposals|length }})</h3>
                <div class="stat-def">proposals with both a +1 and &minus;1</div>
            {% endif %}

            {% include "review/_review_table.html" %}

        </div>
    {% else %}
        <b>Proposals</b>:
            <a href="{% url review_stats_key "good" %}">Good</a> ({{ proposals.good.count }}) |
            <a href="{% url review_stats_key "bad" %}">Bad</a> ({{ proposals.bad.count }}) |
            <a href="{% url review_stats_key "indifferent" %}">Indifferent</a> ({{ proposals.indifferent.count }}) |
            <a href="{% url review_stats_key "controversial" %}">Controversial</a> ({{ proposals.controversial.count }})
    {% endif %}

{% endblock %}