{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{{ proposal.title }}{% endblock %}

{% block body %}
    <div class="pull-right">
        {% if not proposal.cancelled %}
            {% if request.user == proposal.speaker.user %}
                <a href="{% url proposal_edit proposal.pk %}" class="btn">
                    {% trans "Edit this proposal" %}
                </a>
                <a href="{% url proposal_cancel proposal.pk %}" class="btn">
                    {% trans "Cancel this proposal" %}
                </a>
            {% else %}
                <a href="{% url proposal_leave proposal.pk %}" class="btn">
                    {% trans "Remove me from this proposal" %}
                </a>
            {% endif %}
        {% else %}
            Cancelled
        {% endif %}
    </div>
    <h2>{{ proposal.title }}</h2>
    
    <dl>
        <dt>{% trans "Submitted by" %}</dt>
        <dd>{{ proposal.speaker }}</dd>
        
        {% if proposal.additional_speakers.all %}
            <dt>{% trans "Additional Speakers" %}</dt>
            <dd>
                {% for speaker in proposal.additional_speakers.all %}
                    <li>
                        {% if speaker.user %}
                            <strong>{{ speaker.name }}</strong> &gt;{{ speaker.email }}&lt;
                        {% else %}
                            {{ speaker.email }} ({% trans "Invitation Sent" %})
                        {% endif %}
                    </li>
                {% endfor %}
            </dd>
        {% endif %}
        
        <dt>{% trans "Description" %}</dt>
        <dd>{{ proposal.description }}</dd>
        
        <dt>{% trans "Type" %}</dt>
        <dd>{{ proposal.kind.name }}</dd>
        
        <dt>{% trans "Audience Level" %}</dt>
        <dd>{{ proposal.get_audience_level_display }}</dd>
        
        <dt>{% trans "Abstract" %}</dt>
        <dd>{{ proposal.abstract|safe }}</dd>
        
        {% if request.user == proposal.speaker.user %}
            <dt>{% trans "Private Notes" %}</dt>
            <dd>{{ proposal.additional_notes }}</dd>
        {% endif %}
    </dl>
    
    {% if request.user == proposal.speaker.user %}
        <h3>Supporting Documents</h3>
        
        {% if proposal.supporting_documents.exists %}
            <table class="table table-striped">
                {% for document in proposal.supporting_documents.all %}
                    <tr>
                        <td><a href="{{ document.download_url }}">{{ document.description }}</a></td>
                        <td>
                        <form style="margin: 0;" method="post" action="{% url proposal_document_delete document.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-mini">delete</button>
                        </form>
                    </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No supporting documents attached to this proposal.</p>
        {% endif %}
        <a class="btn btn-small{% if proposal.cancelled %} btn-disabled{% endif %}" href="{% url proposal_document_create proposal.pk %}"><i class="icon-upload"></i> Add Document</a>
    {% endif %}
{% endblock %}
